* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 10px auto 10px auto;
}
nav,
button {
  font-family: "Raleway";
  font-weight: 700;
}
.numbers {
  color: rgb(244, 152, 167);
  font-weight: bold;
}
.nav,
button,
.div-2-section,
.footer-div,
.post-footer,
.call-to-action p,
.section-1 p,
.div-steps p,
.testimonies section p,
.div-features p,
.price-plans section p,
.price-span,
.one-off p,
.casual p,
.inbox-zero p,
.one-off div,
.casual div,
.inbox-zero div,
.review-author,
.div-review ul li p,
.review-award,
.secure section p,
.secure section a,
.company-quote p {
  font-family: "Raleway";
}
.section-1 h2,
.call-to-action h3,
header p,
.try-me,
.div-steps h2,
.div-steps h4,
.div-features h3,
.price-plans section h2,
.one-off h3,
.casual h3,
.inbox-zero h3,
.reviews h2,
.secure section h3 {
  font-family: "Indie Flower";
}
.features h4 {
  font-family: "Roboto";
  letter-spacing: 1;
  font-weight: 600;
}
.down,
.right {
  height: 15px;
  width: 15px;
  scale: 1.3;
}
.right {
  text-align: justify;
}
nav button {
  display: flex;
  align-items: center;
  padding: 7px;
  gap: 5px;
  border: none;
  background-color: white;
}
nav {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header p {
  font-weight: bold;
  font-size: 30px;
}
.unsubscribe {
  border-radius: 10px;
  background-color: #fff3bf;
  padding: 12px;
}
button:hover {
  cursor: pointer;
}
.toggle {
  scale: 1.4;
  margin-left: 10px;
}
.main {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 60px 30px 0 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-1 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
}
.div-2 {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #716f6f6e;
}
.div-2 section:nth-child(2) {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.div-2 section h5 {
  font-size: 18px;
}
.div-2 section p {
  line-height: 1.4;
  padding-top: 10px;
}
.div-2 section:nth-child(3) p:nth-child(2) {
  color: rgb(244, 152, 167);
  font-size: 16px;
  font-weight: bold;
}
.email-icon {
  height: 150px;
  width: 200px;
}
.section-1 h2 {
  width: 550px;
  padding: 20px 0 0 0;
  flex: 1;
  font-size: 50px;
  font-weight: bold;
}
.section-1 p {
  font-size: 20px;
  line-height: 1.5;
}
.flat-line {
  position: absolute;
  height: 100px;
  width: 100px;
}
.try-me {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  bottom: -80px;
  right: 120px;
}
.main-unsubscribe {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  height: 50px;
  border: none;
  width: 350px;
  background-color: #fff3bf;
  border-radius: 10px;
  font-size: 16px;
}
.testimonies {
  margin: 70px 0 70px 0;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.testimonies section {
  min-width: 150px;
}
.testimonies section p {
  font-weight: 600;
  line-height: 1.5;
  width: 500px;
  font-size: 20px;
}
.testimonies div {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}
.testimonies div img {
  border-radius: 50%;
}
.testimoni-span {
  background-color: #ffe4e9;
}
.author {
  color: #868e96;
}
.div-features {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.div-features div {
  margin-top: 30px;
  width: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 25px;
  row-gap: 50px;
  align-self: center;
}
.features {
  justify-self: center;
}
.div-features section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 30px;
  align-items: center;
}
.div-features p,
.div-features h3 {
  text-align: center;
  align-self: center;
  font-size: 18px;
}
.features p {
  line-height: 1.5;
}
.features h4 {
  font-size: 23px;
}
.div-features h3 {
  width: 650px;
  font-size: 35px;
}
.feature-p {
  width: 600px;
  font-size: 18px;
}
.feature-p span {
  color: #f498a7;
}
.action {
  padding: 30px;
  border-radius: 10px;
  position: relative;

  min-width: 500px;
  margin-top: 35px;
}
.call-to-action {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.call-to-action button {
  width: 300px;
  height: 50px;
  border: 1px solid #fff3bf;
  background-color: #fff3bf;
  border-radius: 10px;
}
.call-to-action h3 {
  font-size: 35px;
  max-width: 750px;
}
.call-to-action div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.action-icon {
  position: absolute;
  scale: 1.3;
  left: 80%;
  top: 40%;
  right: 0;
}
.call-to-action div p::before {
  content: "✅";
  margin-right: 10px;
}
.div-steps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.div-steps h2 {
  font-size: 35px;
  max-width: 600px;
  align-self: center;
  text-align: center;
}
.div-steps h4 {
  font-size: 28px;
}
.div-steps {
  width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.steps {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.step-2 {
  align-self: end;
}
.steps p {
  letter-spacing: 1;
}
.steps a {
  color: #f498a7;
  font-weight: bold;
  font-size: 18px;
}
.steps a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.price-plans {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price-plans section {
  align-items: center;
}
.compare {
  box-sizing: border-box;
  padding: 20px;
  width: 1200px;
  display: flex;
  gap: 20px;
}
.price-span {
  position: absolute;
  height: auto;
  background-color: #fff3bf;
  border-radius: 20px;
  padding: 5px;
  width: auto;
}
.one-off {
  position: relative;
  box-shadow: 0 0 25px rgba(194, 130, 160, 0.249);
  padding: 30px;
}
.one-off ul li,
.yearly ul li {
  list-style: none;
  line-height: 2;
  font-weight: 600;
}
.yearly {
  display: flex;
  position: relative;
  padding: 30px;
  gap: 15px;
  align-self: start;
  box-shadow: 0 0 25px rgba(194, 130, 160, 0.249);
}
.casual {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.inbox-zero {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.one-off {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-p {
  color: #868e96;
  font-weight: bold;
  font-size: 14px;
}
.casual-li span,
.inbox-li span,
.one-off-li span {
  color: #f498a7;
}
.one-off-li::before,
.casual-li:first-child::before,
.casual-li:last-child::before,
.inbox-li::before {
  content: "✅";
  margin-right: 10px;
}
.casual-li:nth-child(2)::before,
.casual-li:nth-child(3)::before {
  content: "☑️";
  margin-right: 10px;
}
.price-span {
  position: absolute;
  font-weight: bold;
}
.month-price-span {
  color: #868e96;
  font-size: 13px;
  font-weight: bold;
}
.casual button,
.one-off button,
.inbox-zero button {
  height: 35px;
  width: 250px;
  font-size: 16px;
  padding: 5px;
  border-radius: 13px;
  background-color: #fff3bf;
  border: none;
  margin: 15px 0 15px 0;
}
.after-price-p {
  font-size: 12px;
  font-weight: bold;
  color: #868e96;
}
.one-off h3,
.casual h3,
.inbox-zero h3 {
  font-size: 25px;
}
.span-yearly,
.span-one-off {
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 95%;
}
.price-plans section {
  display: flex;
  flex-direction: column;
  font-size: 35px;
}
.price-p {
  margin: 5px 0 5px 0;
  font-size: 35px;
  color: black;
}
.price-plans section p {
  width: 400px;
  font-size: 16px;
}
.price-plans section p::after {
  content: "💗";
}
.secure {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  justify-content: center;
}
.secure section {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
}
.secure section a{
  color: #f498a7;
  font-weight: bold;
  font-size: 18px;
}
.secure section a:hover,
.secure section a:active{
  text-decoration: underline;
  cursor: pointer;
}
.secure section h3 {
  font-size: 35px;
}
.company{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap:20px;
}
.company-quote{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  width:350px;
  box-shadow: 0 0 25px rgba(194, 130, 160, 0.249);
}
.company-quote p{
  font-weight: 600;
  line-height: 1.4;
}
.company-quote p span{
  background-color: #f498a7;
}
.company-quote img{
  height:50px;
  width: 120px;
  padding-top: 15px;
}
.reviews {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.reviews h2 {
  text-align: center;
  font-size: 35px;
}
.reviews div {
  display: flex;
  gap: 30px;
  align-items: start;
  justify-content: center;
}
.review-award img {
  height: 70px;
  background-color: none;
  width: 60px;
}
.review-award {
  display: flex;
  box-shadow: 0 0 25px rgba(194, 130, 160, 0.249);
  height: 100px;
  width: 300px;
  align-items: center;
  padding: 10px;
}
.review-award section {
  display: flex;
  gap: 15px;
  align-items: start;
  flex-direction: column;
}
.div-review ul {
  display: grid;
  column-gap: 15px;
  row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.div-li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 15px;
  border-radius: 10px;
  align-self: start;
  gap: 15px;
}
.div-review li {
  box-shadow: 0 0 5px #f498a7a2;
  padding: 20px;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 15px;
}
.div-review ul li section {
  grid-column: 2/3;
  display: flex;
  gap: 10px;
  align-items: center;
}
.review-author {
  font-weight: bold;
}
.review-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.footer-div {
  border-top: 3px solid #fff3bf;
  padding: 30px 100px 0 100px;
  margin-top: 50px;
  justify-content: space-around;
  display: flex;
  gap: 35px;
}
footer ul li {
  list-style: none;
}
.links {
  line-height: 2;
}
.links li:hover {
  cursor: pointer;
  color: #2b8a3e;
}
.footer-div h4 {
  font-size: 16px;
  color: #868e96b5;
}
.footer-div ul {
  font-size: 15px;
  font-weight: 500;
}
.footer-div ul li a:link,
.footer-div ul li a:visited {
  color: inherit;
}
.footer-div ul li a:hover {
  cursor: pointer;
  color: #2b8a3e;
  text-decoration: underline;
}

.post-footer {
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 5px 0;
  letter-spacing: 1.3;
}
hr {
  margin-top: 20px;
  border-color: #fff3bf;
}
